@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --ghost-white: #F4F4F8;
  --border-blue: #00A6ED;
  --border-green: #06D6A0;
  --border-yellow: #FED766;
  --border-red: #FE4A49;
  --gray-1: #242424;
  --gray-2: #292929;
  --gray-3: #2E2E2E;
  --gray-4: #343434;
  --shadow: #a8a8a8;

  --font-black: #08080A;
  --font-white: #F4F4F8;
  --font-white-hover: #D7F3FA;
}

html, body {
  background-color: var(--ghost-white);

  font-family: 'Open Sans', sans-serif;
  color: var(--font-black);

  margin: 0;
  overflow: hidden;
}

/* Layout */

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

  height: 100%;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: [left] 1fr [right] 1fr [end] 0;
  grid-template-rows: [content] 1fr;
  width: 100%;
  padding: 10px 10px 0 10px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 5px solid;
  margin: 10px 5px 0 5px;
  box-shadow: 8px 5px 16px var(--shadow);
  
  font-size: 19px;

  min-height: 250px;

  transition: all 0.5s;
  will-change: font-size;
}
.block:hover {
  font-size: 23px;
}

/* Block CSS and Positioning */

.map-block {
  grid-column-start: left;
  grid-column-end: end;
  margin-bottom: 10px;
  min-height: 350px;
}
.article-left {
  grid-column: left / right;
}
.article-right {
  grid-column: right;
}

/* Sidebar, Footer, and Other Static Elements */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-column: left / end;

  margin: 0;
  padding: 0;
  height: 80px;
}

/* Border Colors and Color Related Classes */

.border-green {
  border-color: var(--border-green);
}
.border-blue {
  border-color: var(--border-blue);
}
.border-yellow {
  border-color: var(--border-yellow);
}
.border-red {
  border-color: var(--border-red);
}

/* Sidebar */

.sidebar {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--gray-1);
  color: var(--font-white);

  width: 110px;
  height: auto;
  max-width: 25%;
}
.center-buttons {
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;

  height: 20%;
}
.sidebar-button {
  font-size: 20px;
  transition: all 0.5s;
  will-change: font-size, color;
}
.sidebar-button:hover {
  font-size: 22px;
  color: var(--font-white-hover);
}
.map-button:hover {
  margin: 2px 0 2px 0;
}

/* Grid Scrollbar */

.grid {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.grid::-webkit-scrollbar {
    width: 15px;
}

.grid::-webkit-scrollbar-track {
  border-radius: 2px;
  width: 10px;
}

.grid::-webkit-scrollbar-thumb, .grid::-webkit-scrollbar-thumb:hover {
  background: var(--gray-3);
  border: 4.5px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

.grid::-webkit-scrollbar-thumb:active {
  background: var(--gray-2);
  border: 2px solid transparent;
  border-radius: 2px;
  background-clip: content-box;
}

/* Other Styling */
a {
  text-decoration: inherit;
  color: inherit;
}

/* Mobile Sidebar */

.mobile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;

  height: 100%;
  overflow: hidden;
}
.mobile-sidebar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 75px;
  margin-bottom: 10px;
  max-height: 25%;

  background-color: var(--gray-1);
  color: var(--ghost-white);
}
.mobile-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: left / end;

  margin: 0;
  height: 80px;
}
